/* Firefox */
* {
  scrollbar-color: #43C5D6 #2D2D2A;
  scrollbar-width: thin;
}



.App {
  text-align: center;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  text-shadow: 2px 2px 5px black;
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}


.turqoiseColor {
  color: #43C5D6;
}


.whiteColor {
  color: white;
}

.jetColor {
  color: #2D2D2A;
}

.backgroundJetColor {
  background-color: #2D2D2A;
}

.altGrayBackgroundColor {
  background-color: #4C4C47;
}

.navBarBackground {
  width: auto;
}

.navBar {
  display: flex;
  margin: 0px 50px 10px 50px;
  padding: 15px 10px 0px 10px;
  font-size: 20px;
  /*height: 25px;*/
  justify-content: space-between;
  border-bottom: 1px solid #373d49;
  color: gray;
}

.navBarItem {
  position: relative;
  top: 3px;
  padding-left: 10px;

  span.material-icons {
    display: inline-flex;
    vertical-align: top;
  }

  transition: transform 0.3s ease;
  /*todo*/
}

.navBarItem:hover {
  color: white;
  cursor: pointer;
  transform: scale(1.05);
  /*todo*/
}

.navBarIcon {
  position: relative;
  top: 3px;
  padding-right: 2px;
}

.aboutMeSection {
  display: flex;
  justify-content: space-between;
  color: white;
  /*background-color: red;*/
  margin: 10px 250px 0px 350px;
}

.break {
  flex-basis: 100%;
  /* ✅ Forces a new line */
  height: 0;
  /* Prevent extra spacing */
}


.padTop150 {
  padding: 150px 0px 0px 0px
}

.aboutMeText {
  text-align: left;
  padding: 0px 0px 0px 0px;
}

.largeHeader {
  font-size: 60px;
  margin: 0px 0px 0px 0px;
}

.mediumHeader {
  font-size: 40px;
  margin: 0px 0px 15px 0px;
}

.invertedColorImage {
  height: 200px;
  width: auto;
  max-width: 500px;
  -webkit-transition: width 2s, height 2s;
  transition: width 2s, height 2s
}

.socialMediaButton {
  >img {
    width: 24px;
    height: 24px;
    margin: 0px 5px 0px 5px;
    padding: 5px 5px 5px 5px;
    border: 1px solid rgba(128, 128, 128, 0.428);
    border-radius: 10px;
  }
}

.socialMediaButton:hover {
  >img {
    background-color: #4C4C47;
    cursor: pointer;
    transition-duration: 0.4s;
    transform: scale(1.10);
  }
}

.experienceBody {
  width: 350px;
  height: auto;
  text-align: left;
}

.experienceImage {
  width: 350px;
  height: auto;
}

.experienceImage:hover {
  filter: brightness(0) saturate(100%) invert(100%);
  cursor: pointer;
}

.experienceSection {
  display: flex;
  justify-content: space-between;
  color: white;
  text-align: left;
  /*background-color: red;*/
  margin: 10px 150px 0px 150px;
}

.experienceContent {
  width: 500px;
  height: 100%;
  position: relative;
  min-height: 600px;
  border-radius: 10px;
  padding: 15px 15px 15px 15px;
  text-align: center;
}

.bottomSwitchers {
  position: absolute;
  justify-content: center;
  left: 45%;
  margin-bottom: 20px;
  bottom: 0px;
}

.bottomSwitcherCircle {
  padding-right: 10px;
}

.bottomSwitcherHover:hover {
  cursor: pointer;
  color: gray;
}

.bgRed {
  background-color: red;
}

.colorRed {
  color: red;
}